{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">


<div class="column is-auto">
          <div id="search-box" class="search-box">
            <div class="search-area">
              <h1 class="title">Search</h1>
              <div class="field">
                <p class="control">
                  <input id="textindex" class="input is-success" type="text" placeholder="Keywords">
                </p>
              </div>
             
              <br>
              <a id="search-button" class="form-button button is-primary is-inverted is-outlined">Search</a>
              <br>
              <br>
              <i><a id="feedback2" class="feedback"></a></i>
            </div>
          </div>
        </div>



  <div class="hero-body"></div>

</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
